{% comment %} Display the list of guests in a grid {% endcomment %}
{% comment %} Uses guest-featured-card-photos-container as the primary container {% endcomment %}

{% comment %} Another page will provide the title to display {% endcomment %}
{%- assign cards = site.posts | where: 'title', title -%}
{%- for card in cards limit: 1 -%}
    <div class="guest-featured-card-photos-container">
        <div class="gfcp-background">
            {%- assign gfcp-background-image = '/assets/guests-card/logo-background-black-400x400.png' | relative_url -%}
            <img src="{{-gfcp-background-image-}}" alt="" class="gfcp-background-image">
        </div>
        {% comment %} Get the list of guests {% endcomment %}
        {%- assign guest-details = card.guest-details -%}
        {% comment %} CSS defines the image layout {% endcomment %}
        {% comment %} Do not allow more than a 4-quadrant grid {% endcomment %}
        {%- assign grid-boxes = guest-details.size -%}
        {%- if grid-boxes > 4 -%}
            {%- assign grid-boxes = 4 -%}
        {%- endif -%}
        {% comment %} The CSS grid may modify based on the number of images, so give each a unique number (ex card-1, card-2, etc) {% endcomment %}
        {%- assign grid-boxes = "gfcp-cards-" | append: grid-boxes -%}
        <div class="{{- grid-boxes -}}">
            {% comment %} Display the guests {% endcomment %}
            {% comment %} You can only put 4 guests on the social sharing card {% endcomment %}
            {%- for guest in guest-details limit: 4 -%}
                {%- assign index-id = forloop.index -%}
                    {%- assign guest-photo = guest.guest-photo | relative_url -%}
                    <img src="{{- guest-photo -}}" alt="" class="gfcp-card">
            {%- endfor -%}
        </div>
        <div class="gfcp-play">
            {%- assign play-circle = "/assets/guests-card/play-circle.png" | relative_url -%}
            <img src="{{- play-circle -}}" alt="" class="gfcp-play-image">
        </div>
    </div>
{%- endfor -%}