{% comment %} Display the latest post(s) {% endcomment %}

<section class="feed-latest-posts">
  <div class="feed-latest-post-cards">
  {% comment %} Display the latest podcast post {% endcomment %}
    {%- assign feed-type = "agile-in-action-podcast" -%}
    {%- assign fi-default = site.data.configs.podcast-fi-large -%}
    {%- assign fi-type = "post-fi" -%}
    {%- assign feed-glyph = site.data.configs.podcast-glyph -%}
    {%- assign css-style = "feed-latest" -%}
    {%- assign display-offset = 0 -%}
    {%- assign display-limit = 1 -%}
    {%- include feed.html -%}
  {% comment %} Display the latest blog post {% endcomment %}
  {% comment %} Do not display blog posts, just the podcast post {% endcomment %}
    {% comment %} {%- assign feed-type = "agile-blog" -%}
    {%- assign fi-default = site.data.configs.blog-fi-large -%}
    {%- assign fi-type = "post-fi" -%}
    {%- assign feed-glyph = site.data.configs.blog-glyph -%}
    {%- assign display-offset = 0 -%}
    {%- assign display-limit = 1 -%}
    {%- include feed.html -%} {% endcomment %}
  </div>
</section>