<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{- '/assets/cambermast.css' | relative_url -}}">
  <link rel="icon" href="{{- '/assets/favicon/favicon.ico' | relative_url -}}" type="image/x-icon">
  {% comment %} {%- seo -%} {% endcomment %}
  {%- assign card-filename = page.path | split: '/' | last | split: '.' | first | append: '.png' | prepend: '/uploads/' | absolute_url -%}
  {%- if card-filename -%}
    <meta property="og:image" content="{{- card-filename -}}">
    <meta property='og:description' content='{{- page.title -}}'/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="675">  
  {%- endif -%}
</head>
