
{% comment %}
    Common html layout for a page (non-post)

    *** REQUIRED:
    featured-image: The image to display at the top of the page

    css-style:      By default, use the style as defined by the
                    custom site configs. Otherwise, use the one
                    defined by the site config.
{% endcomment %}

{% comment %} If there is a featured image, display it, otherwise use a default {% endcomment %}
{%- if page.featured-image -%}
    {%- comment -%} Add relative paths to url {%- endcomment -%}
    {%- assign featured-image = page.featured-image | relative_url -%}
{%- else -%}
    {% comment %} Use the site's default featured image {% endcomment %}
    {%- assign featured-image = site.data.configs.page-featured-image | relative_url -%}
{%- endif -%}

{% comment %} Define the style that the page will use {% endcomment %}
{%- if page.css-style -%}
    {% comment %} Use the style defined by the page {% endcomment %}
    {%- assign css-style = page.css-style -%}
{%- else -%}
    {% comment %} Use the default style {% endcomment %}
    {%- assign css-style = site.data.configs.page-css-style -%}
{%- endif -%}
<section class="{{css-style}}">
        <div class="page-card">
            <div class="page-card-image">
                {% comment %} Display the page's featured image {% endcomment %}
                <img class="card-item-image" src="{{-featured-image-}}" alt="{{- post.title -}}">
            </div>
            {% comment %} Where defined in the CSS, add a gradient over the image {% endcomment %}
            <div class="page-card-gradient-overlay">
            </div>
            <div class="page-card-content">
                {%- comment -%} Display the page's title {%- endcomment -%}
                <div class="page-card-title">
                    <h1 class="card-item-title">{{- page.title | strip_html | escape -}}</h1>
                </div>
            </div>
        </div>
</section>
