{% comment %} Display the podcast content {% endcomment %}
<section class="podcast-post-section">
    <div class="markdown-section">
        <div class="guest-photos">
            {%- assign guest-photo = page.guestPhotos -%}
            {%- for guest-photo in page.guestPhotos -%}
                <div class="guest-photo-items">
                    <img src="{{- guest-photo -}}" alt="" class="guest-photo">
                </div>
            {%- endfor -%}
        </div>
        <h2>Listen now</h2>
        {%- assign player-id = page.libsynUrl | split: '/' | last -%}
        {%- if player-id -%}
            <iframe class="podcast-player"
                style="border: none" 
                src="//html5-player.libsyn.com/embed/episode/id/{{player-id}}/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/f49f1c/"
                height="90" 
                width="100%" 
                scrolling="no"  
                allowfullscreen 
                webkitallowfullscreen 
                mozallowfullscreen 
                oallowfullscreen 
                msallowfullscreen>
            </iframe>
            <p></p>
        {%- endif -%}
        {% comment %} Display subscription links to popular podcasts {% endcomment %}
        <div class="podcast-badges">
        {%- assign badges = site.data.podcast-badges.items | sort: "orderby" -%}
        {%- for badge in badges -%}
            <a href="{{- badge.url | relative_url -}}" class="podcast-badge-link" target="_blank">
                <img class="podcast-badge" src="{{- badge.imageUrl |relative_url -}}" alt="alt">
            </a>
        {%- endfor -%}
        </div>
        <h2>In this episode</h2>
        {{- content -}}

        {% comment %} Display the podcast footer fromt he footers collection  {% endcomment %}
        {%- assign footers = site.footers | where: "type", "podcast-post" -%}
        {%- for footer in footers -%}
            {{- footer.content | markdownify -}}
        {%- endfor -%}
    </div>
</section>