// All styles, media queries, and mixins for the site.
// Generally follows the 7-1 methodology:
// https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'base/typography';
@import 'components/guests-card/guests-card-styles';
@import 'components/guests-card/guests-card';
@import 'components/guests-card/guests-card-all';
@import 'components/guests-card/guests-card-author';
@import 'components/guests-card/guests-card-guests';
@import 'components/guests-card/guests-card-photos';
@import 'components/guests-card/guests-card-title';
@import 'components/guest-featured-card/guest-featured-styles';
@import 'components/guest-featured-card/guest-featured-card';
@import 'components/guest-featured-card/guest-featured-card-all';
@import 'components/guest-featured-card/guest-featured-author';
@import 'components/guest-featured-card/guest-featured-guests';
@import 'components/guest-featured-card/guest-featured-photos';
@import 'components/guest-featured-card/guest-featured-title';
@import 'layout/browser-not-supported';
@import 'layout/feed';
@import 'layout/feed-latest';
@import 'layout/feed-latest-posts';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/markdown';
@import 'layout/nav';
@import 'layout/page-featured-image';
@import 'layout/playpod';
@import 'layout/services-page';
@import 'layout/site';
@import 'layout/svcs';
@import 'layout/podcast-badges';

// 7-1 Reference guide
// these are examples, not the actual structure for the site
// sass/
// |
// |– abstracts/ (or utilities/)
// |   |– _variables.scss    // Sass Variables
// |   |– _functions.scss    // Sass Functions
// |   |– _mixins.scss       // Sass Mixins
// |
// |– base/
// |   |– _reset.scss        // Reset/normalize
// |   |– _typography.scss   // Typography rules
// |
// |– components/ (or modules/)
// |   |– _buttons.scss      // Buttons
// |   |– _carousel.scss     // Carousel
// |   |– _slider.scss       // Slider
// |
// |– layout/
// |   |– _navigation.scss   // Navigation
// |   |– _grid.scss         // Grid system
// |   |– _header.scss       // Header
// |   |– _footer.scss       // Footer
// |   |– _sidebar.scss      // Sidebar
// |   |– _forms.scss        // Forms
// |
// |– pages/
// |   |– _home.scss         // Home specific styles
// |   |– _about.scss        // About specific styles
// |   |– _contact.scss      // Contact specific styles
// |
// |– themes/
// |   |– _theme.scss        // Default theme
// |   |– _admin.scss        // Admin theme
// |
// |– vendors/
// |   |– _bootstrap.scss    // Bootstrap
// |   |– _jquery-ui.scss    // jQuery UI
// |
// `– main.scss              // Main Sass file