.guest-featured-card-author-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    gap: 0px 5px;
    grid-auto-flow: column;
    align-items: center;
    align-content: end;
    margin-bottom: 5px;
    grid-template-areas:
      "gfc-author-image gfc-author-text";

      @include for-size(phone-only){
        margin-top: 5px;
      }
  }

  .gfca-author-image { 
    grid-area: gfc-author-image;
    width: 25px;
    height: 25px;
  }
  
  .gfca-author-name {
    text-transform: uppercase;
  }

  // Do not show author details in smaller devices
  .guest-featured-card-author-container* {
    @include for-size(phone-only){ display: none; }
  }
