.guest-featured-card-guests-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-self: start;

    grid-template-areas:
      "gfc-guest-text";
    // border-color: green;
    // border-style: solid;
  }
  
  .gfc-guest-text { grid-area: gfc-guest-text; }
  