// Display 1-4 guests for a podcast
// If there are more than 5, html will not display
.guest-card-images-container {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px;
  width: 110px; 
  height: 110px;
}

.gci-background {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."; 
  grid-area: 1 / 1 / 2 / 2; 
}

// display one guest photo
.gci-cards-1 {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 2px 2px; 
  grid-template-areas: 
    "."; 
  grid-area: 1 / 1 / 2 / 2;
  // use the default layout below
}

// display 2 guest photos
.gci-cards-2 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 0px 2px; 
  grid-area: 1 / 1 / 2 / 2;
  // use the unique card image layout below
}

// unique card layout for two images
.gci-cards-2 .gci-card {
  height: 100%;
  object-fit: cover;
}

// Display 3 guest photos
.gci-cards-3 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 2px 2px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  grid-area: 1 / 1 / 2 / 2;
  // use the default image layout below
}

// Display 4 guest photos
.gci-cards-4 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 2px 2px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  grid-area: 1 / 1 / 2 / 2;
  // use the default image layout below
}

// default image layout for guest card size
.gci-card {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.gci-background-image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

// Display the play icon
.gci-play {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ".";
  justify-items: end;
  align-items: end;
  grid-area: 1 / 1 / 2 / 2; 
}

.gci-play-image {
  width: 15%;
  height: 15%;
  opacity: 90%;
  padding-right: 4%;
  padding-bottom: 4%;
}