// Display 1-4 guests for a podcast
// If there are more than 5, html shold not display
.guest-cards-container {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  width: 110px; 
  height: 110px;
}

.gc-background {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."; 
  grid-area: 1 / 1 / 2 / 2; 
}

.guest-cards-1 {
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 2px 2px; 
  grid-template-areas: 
    "."; 
  width: 110px; 
  height: 110px; 
  grid-area: 1 / 1 / 2 / 2;
  // use the default layout below
}

.guest-cards-2 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 0px 2px; 
  width: 110px; 
  height: 110px; 
  grid-area: 1 / 1 / 2 / 2;
  // use the unique card image layout below
}

// unique card layout for two images
.guest-cards-2 .gc-card {
  height: 100%;
  object-fit: cover;
}

.guest-cards-3 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 2px 2px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  width: 110px; 
  height: 110px; 
  grid-area: 1 / 1 / 2 / 2;
  // use the default image layout below
}

.guest-cards-4 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 2px 2px; 
  grid-template-areas: 
    ". ."
    ". ."; 
  width: 110px; 
  height: 110px; 
  grid-area: 1 / 1 / 2 / 2;
  // use the default image layout below
}

// default image layout for guest card size
.gc-card {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.gc-background-image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}