.guest-card-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 0px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "guest-card-photos-container guest-card-title-container"
    "guest-card-photos-container guest-card-guests-container"
    "guest-card-photos-container guest-card-author-container";
}

.guest-card-photos-container { grid-area: guest-card-photos-container; }

.guest-card-title-container { grid-area: guest-card-title-container; }

.guest-card-guests-container { grid-area: guest-card-guests-container; }

.guest-card-author-container { grid-area: guest-card-author-container; }