---
layout: default
---
<div class="home-container">
    {% comment %} Display the navigation section {% endcomment %}
      {%- include nav.html -%}
    {% comment %} Display the feed u tge firn if a featured post {% endcomment %}
      {%- include playpod.html -%}
    {% comment %} Display the feed in the form of a featured image {% endcomment %}
      {%- assign feed-type = "agile-blog" -%}
      {%- assign fi-default = site.data.configs.blog-fi-large -%}
      {%- assign fi-type = "post-fi" -%}
      {%- assign feed-glyph = site.data.configs.blog-glyph -%}
      {%- assign css-style = "feed-latest" -%}
      {%- assign title-filter = null -%}
      {%- assign display-offset = 0 -%}
      {%- assign display-limit = 1 -%}
      {%- include feed.html -%}
    {% comment %} Display the feed in the form of a blog feed {% endcomment %}
      {%- assign feed-type = "agile-blog" -%}
      {%- assign fi-default = site.data.configs.blog-fi-small -%}
      {%- assign fi-type = "post-fi" -%}
      {%- assign feed-glyph = site.data.configs.blog-glyph -%}
      {%- assign css-style = "feed-section" -%}
      {%- assign display-offset = 1 -%}
      {%- assign display-limit = null -%}
      {%- include feed.html -%}
    {% comment %} Display the footer section {% endcomment %}
      {%- include footer.html -%}
</div>