---
layout: default
---
<div class="home-container">

  {% comment %} Display the navigation section {% endcomment %}
    {%- include nav.html -%}
  {% comment %} Display the play podcast section {% endcomment %}
    {%- include playpod.html -%}
  {% comment %} Display the home page header image {% endcomment %}
    {%- include page-featured-image.html -%}
  {% comment %} Display the page content {% endcomment %}
    {%- include page-content.html -%}
  {% comment %} Display the footer section {% endcomment %}
    {%- include footer.html -%}

</div>
