---
layout: default
---
<div class="home-container">
  <section class="podcast-header-wrapper">
      <div class="header-section">
          <div class="header-nav">
              {% comment %} Display the navigation section {% endcomment %}
              {%- include nav.html -%}
          </div>
          <div class="header-featured">
            {%- assign card-filename = page.path | split: '/' | last | split: '.' | first | append: '-no-play-icon' | append: '.png' | prepend: '/uploads/' | relative_url -%}
            <a href="{{- card-link -}}" class="header-featured-link"><img src="{{- card-filename -}}" alt="{{- post.title -}}" class="header-featured-image"></a>
          </div>
      </div>
  </section>
    {%- include podcast-post.html -%}
  {%- comment -%}Display the footer section{%- endcomment -%} 
    {%- include footer.html -%}
</div>