.guest-card-title-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-self: end;
    grid-template-areas:
      "gct-title";
      @include for-size(phone-only){
        align-self: start;
        margin-top: 5px
      }
  }
  
.gct-title {
    grid-area: gct-title;
    align-self: end;
    font-weight: bold;
    text-transform: uppercase;
    @include fluid-type(16px, 24px);
    @include for-size(phone-only){
      text-transform: none;
    }
}
  