// Display a single row, multi-column list of all the lataest posts
// Only override the feed-latest css where necessary
// ** Primarily used to display featured posts on the home page

// wrapper container for the whole section

.feed-latest-posts {
    display: grid;
    grid-column: 1fr;
    margin-top: 5px;
}

.feed-latest-post-cards {
    display: grid;
    grid-template-columns: repeat(2, .5fr); // Display a 2-column grid. TODO: allow any number of columns
    gap: 10px;
    @include for-size(phone-only){
        gap: 5px;
    }
}

.feed-latest-post-cards .feed-card-content {
    display: grid;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    @include for-size(phone-only){
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
    }
}

.feed-latest-post-cards .feed-item-image {
    height: 100%;
    @include for-size(phone-only){
        gap: 5px;
    }
}

.feed-latest-post-cards .feed-card-glyph {
    grid-area: feed-card-glyph;
    align-self: start;
    margin-left: 10px;
    margin-top: 10px;
}

// TYPOGRAPHY
.feed-latest-posts .feed-item-title {
    @include fluid-type(11px, 18px);
    text-transform: uppercase;
}

.feed-latest-posts .feed-item-link {
    text-decoration: none;
    color: $cambermastWhite;
    &:link { color: $cambermastWhite; }
    &:visited { color: $cambermastWhite; }
    &:hover { color: $cambermastAltLightBlue; }
}

.feed-latest-posts .feed-item-excerpt {
    @include fluid-type(11px, 16px);
    color: lightgray;
}

.feed-latest-posts .feed-item-author {
    @include fluid-type(11px, 14px);
    text-transform: uppercase;
    color: lightgray;
}
