// Updates any html file with a "markdown-section" div or section tag.
// Some css and html files will have the suffix "-post" in the name.

.markdown-section {
    p {
        width: auto;
        margin-bottom: 1em;
        // overflow-wrap: break-word;
        // word-wrap: break-word;
        // word-break: break-all;
        // hyphens: auto;
    }

    // a {
    //     overflow-wrap: break-word;
    //     word-wrap: break-word;
    //     word-break: break-all;
    //     hyphens: auto;
    // }
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: $contentWidth;
    @include for-size(phone-only){
        width: 95%;
    }

    img {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .podcast-player {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-height: 100px;
    }

    .gumroad-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .guest-photos {
        display: grid;
        grid-auto-flow: column;
        // overflow: auto;
        grid-gap: 5px;
        align-content: start;
        justify-content: start;
    }
    
    .guest-photo {
        width: 150px;
        height: 150px;
        object-fit: cover;
        @include for-size(phone-only){
            width: 75px;
            height: 75px;
        }
    }

    h2 {
        margin-top: 1em;
        margin-bottom: .25em;
        color: $cambermastAltDarkBlue;
    }

    h3 {
        margin-top: 1em;
        margin-bottom: .25em;
        color: $cambermastAltDarkBlue;
    }
}

