// basic layout for the entire site

.site-container {
    margin: auto; // center the content
    display: grid; // not used, but allows us to use the site as a grid
    max-width: 1200px; // maximum width the site takes up in the browser
    min-width: 300px; // minimum width the site takes up in the browser
    margin-top: 0px; // add some space at the top of the site
}